<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <img class="img-fluid" src="/images/app_image.jpg" alt=""/>
            <form class="logout-small" action="/sessions?_method=DELETE" method="POST">
                <input class="btn btn-light btn-sm" type="submit" value="Log Out">
            </form>
            <div class="row header">
                <div class="col-md goal">
                    <h1 class="display-3">I want to:</h1>
                    <% if (goals.length) { %>
                        <% for (let i = goals.length; i > goals.length - 1; i--) { %>
                            <% if (goals[goals.length - 1].completed === false) { %>
                                <h2><%=goals[goals.length - 1].description%></h2>
                                <form action="/ally/complete-goal/<%=goals[goals.length - 1].id%>?_method=PUT" method="POST">
                                    <button class="btn btn-light" type="submit" name="completed">Goal Completed</button>
                                </form>
                            <% } else { %>
                                <a href="/ally/new-goal"><button class="btn btn-light" type="button" name="new-goal">Set New Goal</button></a>%>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <a href="/ally/new-goal"><button class="btn btn-light" type="button" name="new-goal">Set New Goal</button></a>%>
                    <% } %>
                </div>
                <div class="col-md activity">
                    <h1 class="display-3">My next activity:</h1>
                        <% for (let i = 0; i < activities.length; i++) { %>
                            <% if (activities[i].active === true) { %>
                                <h2><%=activities[i].name%></h2>
                                <form class="complete-activity" action="/ally/activity/complete-activity/<%=activities[i].id%>?_method=PUT" method="POST">
                                    <button class="btn btn-light" type="submit" name="completed">Activity Completed</button>
                                </form>
                            <% } %>
                        <% } %>
                    <a href="/ally/new-activity"><button class="new-activity btn btn-light">Set New Activity</button></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <h4 class="display-4">Hey, <%=currentUser.username%></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
        </div>
        <div class="container cards">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="#" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Track Your Progress</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                            <a href="/ally/new-entry"><button class="btn btn-info" type="button" name="new-entry">New Entry</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="#" alt="">
                        <div class="card-body">
                            <h5 class="card-title">View Entries</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                            <a href="/ally/entries"><button class="btn btn-info" type="button" name="entries">Your Entries</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="#" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Completed Goals</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                            <a href="/ally/completed-goals"><button class="btn btn-info" type="button" name="goals">Completed Goals</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
