<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <link type="text/css" rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="container top">
            <div class="container header">
                <h1>Your Entry</h1>
            </div>
        </div>
        <div class="container">
            <dl>
                <dt>Date:</dt>
                <dd><%=entry.date%></dd>
                <dt>Rating:</dt>
                <dd><%=entry.rating%></dd>
                <dt>Foods:</dt>
                <dd>
                    <% if (entry.food.length <= 0 || entry.food[0] === '') { %>
                        None
                    <% } else { %>
                        <%=entry.food%>
                    <% } %>
                </dd>
                <dt>Sleep:</dt>
                <dd><%=entry.sleep%></dd>
                <dt>Meditated?</dt>
                <dd>
                    <% if (entry.meditate === true) { %>
                        Yes
                    <% } else { %>
                        No
                    <% } %>
                </dd>
                <dt>Exercised?</dt>
                <dd>
                    <% if (entry.exercise === true) { %>
                        Yes
                    <% } else { %>
                        No
                    <% } %>
                </dd>
                <dt>Comments</dt>
                <dd>
                    <% if (entry.comments === null || entry.comments === '') { %>
                        None
                    <% } else { %>
                        <%=entry.comments%>
                    <% } %>
                </dd>
            </dl>
            <a href="/ally/<%=entry.id%>/edit"><button>Edit Entry</button></a>
            <form action="/ally/<%=entry.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Entry"/>
            </form>
        </div>
        <a href="/ally/entries"><button type="button" name="back">Back To Entries</button></a>
    </body>
</html>
