<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <img class="img-fluid" src="/images/entry_image.jpg" alt=""/>
            <form class="logout-small" action="/sessions?_method=DELETE" method="POST">
                <input class="btn btn-light btn-sm" type="submit" value="Log Out">
            </form>
            <div class="container header">
                <h1>Viewing: <%=entry.date%></h1>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate illo sapiente, tempore tempora, laudantium repellendus modi quaerat veniam reprehenderit.</h5>
                <a href="/ally"><button class="btn btn-light btn-lg back-to-main" type="button" name="back">Back To Main</button></a>
            </div>
        </div>
        <div class="container entry-content">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Variables</th>
                        <th scope="col col-right">Your Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Date</th>
                        <td><%=entry.date%></td>
                    </tr>
                    <tr>
                        <th scope="row">Anxiety Rating</th>
                        <td><%=entry.rating%></td>
                    </tr>
                    <tr>
                        <th scope="row">Food Eaten</th>
                        <td>
                            <% if (entry.food.length <= 0 || entry.food[0] === '') { %>
                                None
                            <% } else { %>
                                <%=entry.food%>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Hours of Sleep</th>
                        <td><%=entry.sleep%></td>
                    </tr>
                    <tr>
                        <th scope="row">Meditated?</th>
                        <td>
                            <% if (entry.meditate === true) { %>
                                Yes
                            <% } else { %>
                                No
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Exercised?</th>
                        <td>
                            <% if (entry.exercise === true) { %>
                                Yes
                            <% } else { %>
                                No
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Comments</th>
                        <td>
                            <% if (entry.comments === null || entry.comments === '') { %>
                                None
                            <% } else { %>
                                <%=entry.comments%>
                            <% } %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="container show-entry-buttons">
                <a href="/ally/<%=entry.id%>/edit"><button class="btn btn-info">Edit Entry</button></a>
                <form class="delete" action="/ally/<%=entry.id%>?_method=DELETE" method="POST">
                    <input class="btn btn-outline-danger" type="submit" value="Delete Entry"/>
                </form>
                <a href="/ally/entries"><button class="btn btn-outline-info return-to-entries">Return To Entries</button></a>
            </div>
        </div>
    </body>
</html>
