<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <img class="img-fluid" src="/images/entry_image.jpg" alt=""/>
            <form class="logout-small" action="/sessions?_method=DELETE" method="POST">
                <input class="btn btn-light btn-sm" type="submit" value="Log Out">
            </form>
            <div class="container header">
                <h1>Your Entry</h1>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate illo sapiente, tempore tempora, laudantium repellendus modi quaerat veniam reprehenderit.</h5>
                <a href="/ally"><button class="btn btn-light btn-lg back-to-main" type="button" name="back">Back To Main</button></a>
            </div>
        </div>
        <div class="container entry-content">
            <dl>
                <dt>Date:</dt>
                <dd><%=entry.date%></dd>
                <dt>Rating:</dt>
                <dd><%=entry.rating%></dd>
                <dt>Foods:</dt>
                <dd>
                    <% if (entry.food.length <= 0 || entry.food[0] === '') { %>
                        None
                    <% } else { %>
                        <%=entry.food%>
                    <% } %>
                </dd>
                <dt>Sleep:</dt>
                <dd><%=entry.sleep%></dd>
                <dt>Meditated?</dt>
                <dd>
                    <% if (entry.meditate === true) { %>
                        Yes
                    <% } else { %>
                        No
                    <% } %>
                </dd>
                <dt>Exercised?</dt>
                <dd>
                    <% if (entry.exercise === true) { %>
                        Yes
                    <% } else { %>
                        No
                    <% } %>
                </dd>
                <dt>Comments</dt>
                <dd>
                    <% if (entry.comments === null || entry.comments === '') { %>
                        None
                    <% } else { %>
                        <%=entry.comments%>
                    <% } %>
                </dd>
            </dl>
            <a href="/ally/<%=entry.id%>/edit"><button class="btn btn-info">Edit Entry</button></a>
            <form class="delete" action="/ally/<%=entry.id%>?_method=DELETE" method="POST">
                <input class="btn btn-outline-danger" type="submit" value="Delete Entry"/>
            </form>
        </div>
    </body>
</html>
